<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet'  href="../CSS/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6"> <h1 class="text-success text-center">Form Validation</h1>           
                <form id="fm" onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" id="fname" placeholder="Please Enter Your Full_Name" required/>
                        <span id="firstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Please Enter Email Id" required/>
                        <span id="emailID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="pass" placeholder="Set Your Password" required/>
                        <span id="password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="cpass" placeholder="Confirm Your Password" required/>
                        <span id="password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Please Enter Your AGE" id="age" required/>
                        <span id="age" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control" id="num" placeholder=" Please Enter Your mobile number" required/>
                        <span id="number" class="text-danger"></span>
                    </div>
                        <button type="submit" class="btn btn-outline-success"  id="b1">SUBMIT</button>
                        <button type="clear" class="btn btn-outline-danger" onclick="resetForm()">Cancel</button>
                </form>
            </div>

            <div class="col-md-6">
                <table id="employeeList" border="2">
                    <thead>
                        <tr>
                            <th>fname</th>
                            <th>email</th>
                            <th>pass</th>
                            <th>cpass</th>
                            <th>age</th>
                            <th>num</th>
                        </tr>
                    </thead>
                  <tbody>

                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../JAVASCRIPT/postData.js"></script>
</body>
</html>