<!DOCTYPE html>
<html>
<head>
      <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table id="table" border="1">
                <tr>
                    <th>First_name</th>
                    <th>Last_name</th>
                    <th>Email_id</th>
                    <th>Password</th>
                    <th>Confirm_password</th>
                    <th>Age</th>
                    <th>Address</th>
                </tr>
            </table>
            <button type="button" class="btn btn-outline-primary">EDIT DATA</button>
        </div>
       
    </div>
</div>
    
</body>
</html>